# Ignore all files in the paper/aux_files/ directory
# except for main.pdf, which should be tracked by git
paper/aux_files/*
!paper/aux_files/main.pdf

.DS_Store

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Ignore virtual environment directories
venv/